/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Base styles for body */
body {
  font-family: Karla, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #495E57;
}

/* Header styles */
header {
  border-bottom: 1rem solid #495E57;
}

/* Base styles for links */
a {
  text-decoration: none;
  color: #495E57;
}

/* Heading styles */
h1, h2 {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

/* Form styles */
form {
  max-width: 28.125rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Label styles */
label {
  cursor: pointer;
  font-weight: bold;
}

/* Input and select styles */
input, select {
  height: 2.5rem;
  padding: 0 1rem;
  outline: none;
  border: 0.0625rem solid #E0E0E0;
  border-radius: 0.375rem;
  background: #FFFFFF;
  color: #495E57;
  cursor: pointer;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  border-width: 0.125rem;
  border-color: #495E57;
}

/* Button styles */
button {
  border: none;
  cursor: pointer;
}

/* Image styles */
img {
  max-width: 100%;
}

/* Section styles */
main > section {
  margin-bottom: 5rem;
}

/* Container styles */
.container {
  max-width: 61.625rem;
  width: 90%;
  margin: 0 auto;
}

/* Grid layout */
.grid {
  display: grid;
}

/* Primary button styles */
.button-primary {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #F4CE14;
  color: #495E57;
  font-weight: bold;
  border: 0.1875rem solid #F4CE14;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #495E57;
  border-color: #495E57;
  color: #FFFFFF;
}
